/* font importing */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* reseting css rules */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --orange: #f78b00;
  --blue: #00285f;
  --gray: #ededed;
  --red: #dd1616;
  --violet:#7c00a1;
  --black: #000;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 500px;
  background: var(--violet); 
}

.content {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;    
}

nav {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.brand {
    font-size: 29px;
    color: var(--gray);
    cursor: pointer; 
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    padding: 10px;
    margin-left: 7px;
    cursor:pointer;
}

nav ul li a {
    color:#ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffffff83;
}

nav ul button {
    color: #ffe3f9;     
    border: 1px solid #ffffff;
    background: transparent;
    padding: 8px 40px;
    cursor: pointer;
    margin-left: 20px;
    font-weight: bold;
    border-radius: 20px;      
}

nav ul button:hover {
    transition: background, color 0.7s;
    background: #ffffff;
    color: #531a53;
}
/* header block com background em interação com img */
.content .header-block {    
    max-width: 1000px;
    min-width: 300px;
    height: 450px;
    background: #170d2b;    ;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: rgba(0, 0, 0, 0.5);
    -moz-box-shadow: rgba(0, 0, 0, 0.5);

    position: relative;
    z-index: 10;
    padding: 10px;    

/* Background img em uso */

    background-image:url(./img/nft5.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position:right;
}

.header-block .text {
    position: absolute;
    bottom: 50%;
    left: 10%;
}

.header-block .text h2 {
    color: #ffffff;
    margin-bottom: 20px;
    text-align: right;
    transform: translateX(-20px);
    transition: transform 0.5s;
}

.header-block .text p {
    max-width: 200px;
    color: #ffffff;
    text-align:right;
    transform: translateX(-20px);
    transition: transform 0.4s;
}

/* catálogo de NFTs */

section .catalog {
    width: 100vw;
    padding: 100px;
    }

section .filter-card {
        width: 980px;
        height: 150px;
        background: #9c689c;
        border-radius: 8px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

.search-input {
    width: 700px;
    height: 50px;
    border: none;
    border-radius: 3px;
}

.search-button {
    width: 150px;
    height: 50px;
    border: 1px transparent #ededed;
    border-radius: 3px;
    margin-left: 5px;
    background: #7c00a1;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.1em;
    transition: 0.3s ease;
}

.search-button:hover {
    background: #ffffff;
    color: #7c00a1;
}

.title-wrapper-catalog {
    margin-top: 100px;
    padding-bottom: 20px;
}

section .card-wrapper {
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap:  30px;
    padding-top: 50px;
}

section .card-item {
    height: 400px;
    background: #ebbcec93;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: auto;
    justify-content:space-around;
}

.card-content {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-item h4 {
    width: 90%;
}

.card-item p {
    width: 90%;
    font-style: italic;
    color: #0d9109
}

.card-item button {
    width: 90px;
    padding: 15px 0px;
    border: none;
    background: #7c00a1;
    border-radius: 4px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 15px;
}

.card-item button:hover {
    background: #06f32e94;
    color: #036608;
}

/* about */

.about {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
  }
  
  .about-content {
    max-width: 1000px;
    min-width: 300px;
    height: 600px;
    background: #532151;
    margin: 0 auto;
    border-radius: 8px;
    z-index: 10;
    padding: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url(./img/nftabout2.jpg);
  }
    
  .right {
    width: 37%;
    height: 120%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 10%;
  }
  
  .right h3 {
    text-align: center;
    width: 90%;
    margin-bottom: 20px;
    color: #4ffa00;
  }
  
  .right p {
    max-width: 90%;
    font-size: 1em;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
  }

  